<div class="sidebar">
  <div class="sidebar-header">
    <h2>Nutrition Balance</h2>
    <div class="current-user" (click)="toggleProfileList()">
      <p>Текущий профиль:</p>
      <p class="user-name">{{ currentUser?.name }}</p>
      <div class="profile-list" *ngIf="showProfileList">
        <ul>
          <li *ngFor="let profile of profiles" (click)="selectProfile(profile)">
            {{ profile.name }}
          </li>
          <li (click)="createProfile()">+ Создать новый профиль</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sidebar-links">
    <ul>
      <li><button routerLink="/today">Сегодня</button></li>
      <li><button routerLink="/statistics">Статистика</button></li>
      <li><button routerLink="/body-data">Данные тела</button></li>
      <li><button routerLink="/food">Еда</button></li>
      <li><button routerLink="/meal-plan">План питания</button></li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <button (click)="logout()">Выйти</button>
  </div>
</div>
