<div class="sidebar">
  <div class="sidebar-header">
    <h2>Nutrition Balance</h2>

    <div class="current-user" (click)="toggleProfileList($event)">
      <p class="user-name">
        {{ (currentUser$ | async)?.name || 'Пользователь не выбран' }}
      </p>
      <div class="profile-list" *ngIf="showProfileList">
        <ul>
          <li *ngFor="let profile of (profiles$ | async)" (click)="selectProfile(profile, $event)">
            {{ profile.name }}
          </li>
          <li (click)="createProfile()">+ Создать новый профиль</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="sidebar-links">
    <ul>
      <li><button routerLink="/today">Сегодня</button></li>
      <li><button routerLink="/statistics">Статистика</button></li>
      <li><button routerLink="/profile">Данные тела</button></li>
      <li><button routerLink="/food">Еда</button></li>
      <li><button routerLink="/meal-plan">План питания</button></li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <button (click)="logout()">
      Выйти <i class="fa fa-sign-out-alt"></i>
    </button>
  </div>

</div>
