<div class="main-wrapper">
  <div class="modal-header">
    <h2>{{ data.meal.name }}</h2>
  </div>

  <div class="modal-body">
    <h3>Список продуктов:</h3>
    <table class="food-table">
      <thead>
        <tr>
          <th>Продукт</th>
          <th>Вес (г)</th>
          <th>Калории</th>
          <th>Белки</th>
          <th>Жиры</th>
          <th>Углеводы</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of data.meal.foods">
          <td>{{ food.food.name }}</td>
          <td>{{ food.weight }}</td>
          <td>{{ food.food.calories }} ккал</td>
          <td>{{ food.food.proteins }} г</td>
          <td>{{ food.food.fats }} г</td>
          <td>{{ food.food.carbohydrates }} г</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
